/** LAYOUT **/

:root {
  --page-height: 11in;
  --page-width: 8.5in;

  --inner-width: 7in;
  --inner-height: 8.5in;

  --col-width: 3.25in;
  --col-height: 9in;
  --col-gutter: 0.5in;

  --margin-inner: 0.375in;
  --margin-outer: 0.625in;
  --header-margin: 0.5in;

  --grey-light: #efefef;

  --font-sans: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI',
    Roboto, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-mono: 'Fira Code', monospace;
  --font-body: var(--font-sans);
  --font-heading: var(--font-sans);
  --font-title: var(--font-sans);
}

body {
  margin: 0;
}

.mw {
  display: table;
  clear: both;
  font-family: var(--font-sans);
  width: var(--page-width);
  height: var(--page-height);
}

.section {
  display: flex;
  flex-direction: column;
}

.page {
  overflow: hidden;
  position: relative;
  display: flex;
  height: var(--page-height);
  width: var(--page-width);
}

.odd .header,
.odd .pagination,
.odd .body {
  margin-right: var(--margin-inner);
  margin-left: var(--margin-outer);
}

.even .header,
.even .pagination,
.even .body {
  margin-left: var(--margin-inner);
  margin-right: var(--margin-outer);
}

.header {
  top: var(--header-margin);
  position: absolute;
}

.even .header,
.even .pagination {
  text-align: right;
}

.odd .header,
.odd .pagination {
  text-align: left;
}

.pagination {
  left: 0;
  right: 0;
  position: absolute;
  bottom: var(--header-margin);
}

.content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
}

.body {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: var(--inner-width);
  height: var(--inner-height);
  top: 1in;
  bottom: 1in;
  font-size: 15px;
}

.column {
  flex-basis: var(--col-width);
  width: var(--col-width);
  flex-grow: 0;
  flex-shrink: 0;
  word-wrap: break-word;
}

.page-display {
  display: flex;
}

.page-display > div {
  margin-right: 1rem;
}

.page:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.column-separator {
  min-width: var(--col-gutter);
  height: 100%;
}

.footnotes:not(.empty) {
  border-top: 1px solid var(--grey-light);
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

pre,
code {
  font-family: var(--font-mono);
}

pre {
  border-radius: 3px;
  background-color: var(--grey-light);
  padding: 0.5rem;
}

blockquote {
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}

@media screen {
  .page {
    border-radius: 3px;
    border: 1px solid #efefef;
    margin: 1rem;
    background-color: white;
  }
}

.hljs{display:block;overflow-x:auto;padding:0.5em;color:#333;background:#f8f8f8}.hljs-comment,.hljs-quote{color:#998;font-style:italic}.hljs-keyword,.hljs-selector-tag,.hljs-subst{color:#333;font-weight:bold}.hljs-number,.hljs-literal,.hljs-variable,.hljs-template-variable,.hljs-tag .hljs-attr{color:#008080}.hljs-string,.hljs-doctag{color:#d14}.hljs-title,.hljs-section,.hljs-selector-id{color:#900;font-weight:bold}.hljs-subst{font-weight:normal}.hljs-type,.hljs-class .hljs-title{color:#458;font-weight:bold}.hljs-tag,.hljs-name,.hljs-attribute{color:#000080;font-weight:normal}.hljs-regexp,.hljs-link{color:#009926}.hljs-symbol,.hljs-bullet{color:#990073}.hljs-built_in,.hljs-builtin-name{color:#0086b3}.hljs-meta{color:#999;font-weight:bold}.hljs-deletion{background:#fdd}.hljs-addition{background:#dfd}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}